.titre{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color: red;
    margin-bottom: 3%;
    border: 1px solid black;

}

.col{

    display: flex;
    flex-direction: column;
}

.row{

    display: flex;
    flex-direction: row;

    border: 2px solid blue;

}

.infos{

    display: flex;

    justify-content: center;
    margin-left: 5%;

}